<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<!-- <script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script> -->
<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="https://kit.fontawesome.com/ea5478f7d2.js"></script>
<script src="{{ "assets/js/lightbox.js" | absolute_url }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
