<head>
	<title>Cesar Mu</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> -->

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/favicons/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/favicons/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/favicons/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "assets/favicons/site.webmanifest" | relative_url }}">
</head>
