<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div id="main" class="project-page">
        <div id="projects" class="container my-5">
            <div class="row">
                <!-- Back button -->
                <div class="col-auto">
                    <div id="project-back">
                        <a href="/#resume">
                            <span class="fas fa-angle-left"></span>
                            Back
                        </a>
                    </div>
                </div>

                <div class="col-12 mt-4 project-desc">
                    <div class="row">
                        <div class="col-12 project-desc-title">
                            (Relevant) Coursework
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 coursework-year">
                            Fall 2021
                        </div>
                        <div class="col-12 mt-2 ml-4">
                            <b>EECS 388: Computer Security Instructional Aide</b>
                            <br>
                            <b>EECS 484</b>: Database Management Systems
                            <!-- <br>
                            <span class="ml-4">
                                - Python, SciPy, NumPy
                            </span> -->
                            <br>
                            <b>EECS 498</b>: Conversational AI
                            <!-- <br>
                            <span class="ml-4">
                                - Python, Flask, REST APIs, JavaScript, React, Asynchronous & Multithreaded Programming, Information
                                Retrieval, AWS, MapReduce & Hadoop
                            </span> -->
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-5">
                        <div class="col-12 coursework-year">
                            Winter 2021
                        </div>
                        <div class="col-12 mt-2 ml-4">
                            <b>EECS 388</b>: Intro to Computer Security
                            <br>
                            <span class="ml-4">
                                - Python, Go, gdb, Wireshark, Autopsy
                            </span>
                            <br>
                            <b>EECS 481</b>: Software Engineering
                            <br>
                            <b>ENGR 455</b>: Multidisciplinary Design Program (CLAWS)
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 coursework-year">
                            Fall 2020
                        </div>
                        <div class="col-12 mt-2 ml-4">
                            <b>EECS 445</b>: Intro to Machine Learning
                            <br>
                            <span class="ml-4">
                                - Python, SciPy, NumPy
                            </span>
                            <br>
                            <b>EECS 485</b>: Web Systems
                            <br>
                            <span class="ml-4">
                                - Python, Flask, REST APIs, JavaScript, React, Asynchronous & Multithreaded Programming, Information Retrieval, AWS, MapReduce & Hadoop
                            </span>
                            <br>
                            <b>SPACE 581</b>: Space Policy & Management
                            <br>
                            <b>ENGR 455</b>: Multidisciplinary Design Program (CLAWS)
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-12 coursework-year">
                            Winter 2020
                        </div>
                        <div class="col-12 mt-2 ml-4">
                            <b>EECS 370</b>: Intro to Computer Organization
                            <br>
                            <span class="ml-4">
                                - C, Assembly
                            </span>
                            <br>
                            <b>EECS 376</b>: Foundations of Computer Science
                            <br>
                            <b>SPACE 405</b>: Data Analysis & Visualization for Geoscientists
                            <br>
                            <span class="ml-4">
                                - Python, Matplotlib, NumPy
                            </span>
                            <br>
                            <b>AEROSP 390</b>: Independent Study (CLAWS)
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 coursework-year">
                            Fall 2019
                        </div>
                        <div class="col-12 mt-2 ml-4">
                            <b>EECS 281</b>: Data Structures & Algorithms
                            <br>
                            <span class="ml-4">
                                - C++
                            </span>
                            <br>
                            <b>SPACE 310</b>: Satellite & Mission Design
                            <br>
                            <span class="ml-4">
                                - STK
                            </span>
                            <br>
                            <b>MATH 214</b>: Linear Algebra
                            <br>
                            <b>AEROSP 390</b>: Independent Study (CLAWS)
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-12 coursework-year">
                            Winter 2019
                        </div>
                        <div class="col-12 mt-2 ml-4">
                            <b>EECS 280</b>: Programming & Data Structures
                            <br>
                            <span class="ml-4">
                                - C++
                            </span>
                            <br>
                            <b>EECS 203</b>: Discrete Math
                            <br>
                            <b>ENGR 100</b>: Electronics for Atmospheric & Space Measurements
                            <br>
                            <span class="ml-4">
                                - C, Python, Matlab, Altium
                            </span>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 coursework-year">
                            Fall 2018
                        </div>
                        <div class="col-12 mt-2 ml-4">
                            <b>ENGR 101</b>: Intro to Programming
                            <br>
                            <span class="ml-4">
                                - C++
                            </span>
                            <br>
                            <b>SPACE 101</b>: Rocket Science
                            <br>
                            <b>MATH 216</b>: Intro to Differential Equations
                            <br>
                            <span class="ml-4">
                                - Matlab
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>