<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <!-- Sections -->
    <div id="main">
        <!-- Egg -->
        <section id="egg">
            <div class="inner text-center">
                <div class="row">
                    <div class="col">
                        <span class="smallegg">random things</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <a href="/sleepytime" class="egglink">
                            sleepytime
                        </a>
                        <br>
                        <a href="/rainycafe" class="egglink">
                            rainycafe
                        </a>
                        <br>
                        <a href="/squotes" class="egglink">
                            squotes
                        </a>

                        <br><br>
                        <a href="/" class="egglink">
                            home
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- end Sections -->

    {% include footer.html %}

</body>

</html>
