<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner text-no-select container">
            <div id="banner-div" class="row">
                <div class="col-12 col-lg-auto">
                    <img id="intro-pic">
                </div>
                <div class="col mt-4 mt-lg-0">
                    <header>
                        <span id="typing" class="banner-text"></span>
                        <br>
                        <span id="typing2" class="banner-text"></span>
                    </header>
                </div>
            </div>
            <div id="down-caret" class="row">
                <div class="col text-center">
                    <span class="fas fa-chevron-down"></span>
                </div>
            </div>
        </div>
    </section>

    <!-- Sections -->
    <div id="main">

        <!-- One -->
        <!-- {% include tiles.html %} -->

        <!-- About Me -->
        <section id="about-me" class="py-5">
            <div class="inner">
                <div class="button-no-click text-no-select">
                    A little About Me
                </div>
                <p class="mt-5">
                    Hey! I'm Cesar, an engineering student at the University of Michigan studying computer science and space science.
                </p>
                <p class="mb-5">
                    My goal is to intersect software and design to make space exploration more efficient, safe, and frequent. I want to create technologies that bring us closer to the stars and elevate us to become a multiplanetary species.
                </p>
            </div>
        </section>

        <!-- Resume -->
        <section id="resume" class="py-5">
            <div class="inner">
                <div class="button-no-click black text-no-select">
                    Some more details
                </div>
                <div class="row my-5">
                    <!-- Education -->
                    <div class="col-12 col-lg-6"> 
                        <div class="container m-0 p-0">
                            <!-- Icon -->
                            <div class="row icon-row">
                                <div class="col">
                                    <span class="fas fa-graduation-cap"></span>
                                    <span class="col-title ml-2">Education</span>
                                </div>
                            </div>

                            <!-- U-M -->
                            <div class="row mt-5">
                                <div class="col-auto">
                                    <span class="entry-title">University of Michigan - Ann Arbor</span>
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <span class="entry-year">2018-2022</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="entry-content">
                                        B.S.E. in Computer Science with Minor in Space Science.
                                        <br>
                                        Also planning on pursuing an accelerated Master's in Computer Science.
                                        <br>
                                        Awards: James B. Angell Scholar, Mayer Family Scholarship, William J. Branstrom Prize, Tau Beta Pi Award.
                                    </span>
                                </div>
                            </div>

                            <!-- Stuy -->
                            <div class="row mt-3">
                                <div class="col-auto">
                                    <span class="entry-title">Stuyvesant High School</span>
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <span class="entry-year">2014-2018</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="entry-content">
                                        Teaching Assistant at CS Dojo, Vice President of StuyCycle Club, Secretary of Science Debate Club.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Work experience -->
                    <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                        <div class="container m-0 p-0 ml-lg-4">
                            <!-- Icon -->
                            <div class="row icon-row">
                                <div class="col">
                                    <span class="fas fa-code"></span>
                                    <span class="col-title ml-2">Experience</span>
                                </div>
                            </div>

                            <!-- Maxar -->
                            <div class="row mt-5">
                                <div class="col-auto">
                                    <span class="entry-title">Maxar Technologies</span>
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <span class="entry-year">2020</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="entry-content">
                                        Software Engineer Intern.
                                        <br>
                                        This will be my first internship in the space industry! Super excited.
                                    </span>
                                </div>
                            </div>

                            <!-- CLAWS -->
                            <div class="row mt-3">
                                <div class="col-auto">
                                    <span class="entry-title">Collaborative Lab for Advancing Work in Space</span>
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <span class="entry-year">2019-Present</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="entry-content">
                                        User Interface Lead & Lead Mission Control Center Engineer.
                                        <br>
                                        Creating mixed-reality system to assist astronauts during EVAs. Leading development of "Mission Control" webserver and database. Read more about CLAWS below!
                                    </span>
                                </div>
                            </div>

                            <!-- RLC -->
                            <div class="row mt-3">
                                <div class="col-auto">
                                    <span class="entry-title">Rescuing Leftover Cuisine</span>
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <span class="entry-year">2018</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="entry-content">
                                        Software Engineer Intern.
                                        <br>
                                        Created new blog page and newsletter to boost publicity, clientele, and donations. Redesigned graphs to better display amounts of food donated.
                                    </span>
                                </div>
                            </div>

                            <!-- HeartsnMinds -->
                            <div class="row mt-3">
                                <div class="col-auto">
                                    <span class="entry-title">Hearts and Minds</span>
                                </div>
                                <div class="col-12 col-sm-auto">
                                    <span class="entry-year">2017</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <span class="entry-content">
                                        Web Developer Intern.
                                        <br>
                                        Overhauled the website design and managed team of professional designers and developers.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Projects -->
        <section id="projects" class="py-5">
            <div class="inner">
                <div class="button-no-click black text-no-select">
                    My projects
                </div>
                <!-- Images -->
                <div class="row my-5 image-row no-gutters">
                    <!-- CLAWS -->
                    <div class="col-6 col-lg-4">
                        <div project="claws" class="project-pic text-no-select">
                            <img src="/assets/images/proj_titles/claws-title.jpg">
                            <div class="project-title"><span>CLAWS</span></div>
                        </div>
                    </div>

                    <!-- Reggie -->
                    <div class="col-6 col-lg-4">
                        <div project="reggie" class="project-pic text-no-select">
                            <img src="/assets/images/proj_titles/reggie-title.jpg">
                            <div class="project-title"><span>Reggie Beats</span></div>
                        </div>
                    </div>

                    <!-- MRover -->
                    <div class="col-6 col-lg-4">
                        <div project="mrover" class="project-pic text-no-select">
                            <img src="/assets/images/proj_titles/mrover-title.jpg">
                            <div class="project-title"><span>Mars Rover</span></div>
                        </div>
                    </div>

                    <!-- ENGR -->
                    <div class="col-6 col-lg-4">
                        <div project="balloon" class="project-pic text-no-select">
                            <img src="/assets/images/proj_titles/balloon-title.jpg">
                            <div class="project-title"><span>Weather<br>Balloon</span></div>
                        </div>
                    </div>

                    <!-- Pickupbox -->
                    <div class="col-6 col-lg-4">
                        <div project="pickupbox" class="project-pic text-no-select">
                            <img src="/assets/images/proj_titles/box-title.jpg">
                            <div class="project-title"><span>PickupBox</span></div>
                        </div>
                    </div>

                    <!-- Maze Solver -->
                    <div class="col-6 col-lg-4">
                        <div project="maze" class="project-pic text-no-select">
                            <img src="/assets/images/proj_titles/maze-title.jpg">
                            <div class="project-title"><span>Maze Solver</span></div>
                        </div>
                    </div>
                </div>

                <!-- Pop open descriptions -->
                <div class="row my-5 description-row">
                    <!-- Back button -->
                    <div class="col-auto">
                        <div id="project-back">
                            <span class="fas fa-angle-left"></span>
                            Back
                        </div>
                    </div>

                    <!-- CLAWS -->
                    <div project="claws" class="col-12 mt-4 project-desc">
                        <div class="row">
                            <div class="col-12 project-desc-title">
                                Collaborative Lab for Advancing Work in Space (CLAWS)
                            </div>
                            <div class="col-12 my-4">
                                A little description box cannot do this team justice. No matter how many pictures or words I put here, nothing can fully capture what this team means to me. And trust me, I've tried many times to write a good summary, but I always end up deleting everything. For the sake of the reader, I'll try to spell out briefly what my experience on CLAWS has entailed. Stop me if I start getting too sappy.
                                <br><br>
                                As part of the NASA SUITS challenge, our first mission was to create an augmented reality tool for assisting astronauts during spacewalks. Since astronauts today still use very outdated systems like <a class="desc-links" href="https://www.hq.nasa.gov/alsj/a12/a12.lmpcuf18.jpg" target="_blank">cuff checklists</a>, an intuitive heads-up display can improve their operational efficiency by a ton. Our system handled displaying mission tasks, biometrics, and warnings, and could also scan QR codes. I worked on the mission clock module and the communications with the HoloLens. However, since there was nothing to actually receive any of those communications, that functionality was more of a proof-of-concept than anything.
                                <br><br>
                                In April 2019, we travelled down to the Johnson Space Center in Houston to showcase and test our system! We saw all the cool designs that teams from other universities brought to the table. We tested and received feedback on our system from scientists and mission controllers in <a class="desc-links" href="https://spacecenter.org/exhibits-and-experiences/nasa-tram-tour/building-9/" target="_blank">Building 9</a>. We even demonstrated our system in a shopping mall with Microsoft. This week was the highlight of my freshman year and solidified my dream of working in the space industry even more.
                                <br><br>
                                Okay, getting too sappy.
                                <br><br>
                                This year, we continued with the SUITS challenge. The overall goal of using augmented reality was the same, but this time we were helping astronauts during extravehicular activites on the surface of the Moon. Now, we needed to help with rover repairs, rock sample collection, and suit preparation. This time around, although I didn't have any of the "real" professional experience, I served as the UI/UX Lead because I love design and wanted to learn more about it from people who actually knew what they were doing.
                                <br><br>
                                Also, remember how last year we didn't have anything to interface with the HoloLens and receive communications? That and the need for a source of mock telemetry data was my inspiration behind our Mission Control Center (MCC). This web application acts as a central hub for the team of astronauts and scientists during every stage of the mission. Before the mission, the team can write mission procedures and mark waypoints on the map. During the mission, while the astronaut is out in the field, the supporting team will enter the Control Room page, which displays all the incoming data such as biometrics, field notes, and communications. Finally, after the mission is over, the team can collaborate again to go over the past mission and notes. They can use all this information to inspire and plan the next mission, and the cycles starts over again.
                                <br><br>
                                As the lead software engineer behind the MCC, this project is something that I am proud to call my baby. It used to live on our own permanent server in the basement of our CSRB building. But it wasn't immune to the coronavirus pushing everything online. Currently, it lives on Heroku and relies on a PostgreSQL database. On the bright side, that means it's much more accessible! Check it out <a class="desc-links" href="http://claws-mcc.herokuapp.com/" target="_blank">here</a>!
                                <br><br>
                                Speaking of the coronavirus, I am incredibly sad that our plans for visiting the Johnson Space Center this year were cancelled. The fact that many of the people on the team whom I love and admire are graduating makes this cancellation of our last hurrah sting even more.
                                <br><br>
                                But there is a bright side to all this. Our team has seen tremendous growth this last year (I'm not the freshman anymore!). I'm so excited to see where this team can go and what it can accomplish. We probably won't continue with the NASA SUITS challenge anymore, but that's a good thing because it means that we can widen our horizons even more. And as things in space tend to be, the horizons are limitless. We want to eventually lean towards becoming a research lab and that's just the start.
                                <br><br>
                                Hopefully this wasn't too long and unenjoyable of a read. To be honest, and I'm sure you know this feeling when you're trying to express an inexpressible experience, there's just so much more I can talk about. But I'll cut it off for now since I'm getting a little hungry. Go CLAWS! Love y'all.
                            </div>
                        </div>
                        <div class="row mt-5 no-gutters">
                            {% for i in (1..4) %}
                                <div class="col-6 col-lg-3 project-desc-img">
                                    <a href="/assets/images/claws/{{ i }}.jpg" data-lightbox="claws">
                                        <img src="/assets/images/claws/{{ i }}.jpg"">
                                        {% if forloop.last == true %}
                                            <div class="more-images"><span>+13</span></div>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                            {% for i in (5..16) %}
                                <a class="hidden-image" href="/assets/images/claws/{{ i }}.jpg" data-lightbox="claws"></a>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Reggie -->
                    <div project="reggie" class="col-12 mt-4 project-desc">
                        <div class="row">
                            <div class="col-12 project-desc-title">
                                Reggie Beats
                            </div>
                            <div class="col-12 my-4">
                                In the second semester of my freshman year, my dining hall installed speakers so we could listen to music while we were eating. But I noticed a problem. What in the world was this music? It was terrible. Just awful. Then I realized an even bigger problem. The only way for the students to suggest their own songs was through a Google form that I'm pretty sure nobody bothered to check.
                                <br><br>
                                A lightbulb went off in my head. What if there was a way for students to queue their favorite songs onto the speakers? The staff wouldn't need to check that Google form or manage the song player anymore. Plus, the students would have a more enjoyable time in the dining hall!
                                <br><br>
                                This was the inspiration behind Reggie Beats (named after our campus corgi, Reggie Bee). This Django web application made use of the Spotify API to allow users to search and add songs to their chosen queue. The device running Spotify just needed to be connected to the speakers and all the music handling would be done by Reggie. Since the intended setting was one of the nine dining halls on campus at UM, I knew I needed to implement strict admin and filtering capabilities.
                                <br><br>
                                Throughout the summer, what drove me to keep working was the vision of students using and enjoying my creation. I wanted the dining halls to become a lively place where the students had freedom in choosing what they listened to. 
                                <br><br>
                                When the school year started, I immediately went to work on pitching my idea to the dining administration. It was a surreal feeling as I pulled out my laptop and started demonstrating the interface and functionalities of Reggie. It felt even more amazing when I was given the go-ahead to implement Reggie into my dining hall as a pilot test run.
                                <br><br>
                                But that euphoria was soon cut short. Apparently, playing Spotify in public places is not allowed and that was all it took to have my idea shot down not long after it took off. There is a silver lining though. From all this work over the summer, I became really good at Django and SQL. This proved to be really useful later when creating the Mission Control Center for CLAWS.
                                <br><br>
                                Even though it can't be used by UM, you can still check out Reggie Beats <a class="desc-links" href="https://reggiebeats.herokuapp.com/" target="_blank">here</a>! (You do need a UM Google account)
                            </div>
                        </div>
                        <div class="row mt-5 no-gutters">
                        {% for i in (1..4) %}
                            <div class="col-6 col-lg-3 project-desc-img">
                                <a href="/assets/images/reggie/{{ i }}.png" data-lightbox="reggie">
                                    <img src="/assets/images/reggie/{{ i }}.png"">
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <!-- Mrover -->
                    <div project="mrover" class="col-12 mt-4 project-desc">
                        <div class="row">
                            <div class="col-12 project-desc-title">
                                Michigan Mars Rover
                            </div>
                            <div class="col-12 my-4">
                                Here, I worked on developing an emergency obstacle detection system to stop the rover in case the computer vision fails for some reason. I experimented with various different configuration of ultrasonic sensor arrays and eventually created a system that increased the detection accuracy up to 10 feet. This was my first project team at UM and was also where I learned that I'm not a big EE guy.
                            </div>
                        </div>
                    </div>

                    <!-- Balloon -->
                    <div project="balloon" class="col-12 mt-4 project-desc">
                        <div class="row">
                            <div class="col-12 project-desc-title">
                                Weather Balloon Payload
                            </div>
                            <div class="col-12 my-4">
                                This semester-long project was a step away from hardcore coding and into the realm of CE and EE. We designed our own PCB that contained accelerometers, altitude sensors, pressure sensors, and UV light sensors. This was all encased inside our payload structure, a hard styrofoam cube, which also contained our GoPro. Managing to keep our entire payload under 1 pound was quite an accomplishment.
                                <br><br>
                                So what was the overall science objective of this mission? To prove, once and for all, that the Earth is indeed flat.
                                <br><br>
                                Unfortunately, our hypothesis was disproven. But, on the bright side, we did capture some unforgettable images!
                            </div>
                        </div>
                        <div class="row mt-5 no-gutters">
                            {% for i in (1..4) %}
                                <div class="col-6 col-lg-3 project-desc-img">
                                    <a href="/assets/images/balloon/balloon-{{ i }}.JPG" data-lightbox="balloon">
                                        <img src="/assets/images/balloon/balloon-{{ i }}.JPG"">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Pickupbox -->
                    <div project="pickupbox" class="col-12 mt-4 project-desc">
                        <div class="row">
                            <div class="col-12 project-desc-title">
                                PickupBox
                            </div>
                            <div class="col-12 my-4">
                                This command line program reproduces (to an extent) what the very popular Dropbox service offers. The user can upload, store, and download files between their local directory and their "PickupBox server" directory. Through the PickupBox shell, the user can browse through their local and uploaded folders and view how much storage space is left.
                                <br><br>
                                This project relied on the use of networking, pipes, processes, and file handling. The central server process allows for multiple connections from different user processes.
                                <br><br>
                                Check out the repo <a class="desc-links" href="https://github.com/roger778876/pickupbox" target="_blank">here</a>!
                            </div>
                        </div>
                    </div>

                    <!-- Maze Solver -->
                    <div project="maze" class="col-12 mt-4 project-desc">
                        <div class="row">
                            <div class="col-12 project-desc-title">
                                Maze Solver
                            </div>
                            <div class="col-12 my-4">
                                This was my first encounter with real "algorithms", even though I had little idea of what they really were. Using Prim's algorithm, I generated perfect mazes, aka mazes that had exactly one solution. Then, I used depth-first search, breadth-first search, and A* to solve the mazes with real-time path highlighting to show how the algorithms "think". All the mazes could be loaded from and saved to .dat files. Plus, everything was packaged into a neat little GUI.
                                <br><br>
                                Check out the repo <a class="desc-links" href="https://github.com/roger778876/MazeSolver-Stuyhacks2017" target="_blank">here</a>!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact form -->
        <section id="contactform" class="py-5">
            <div class="inner">
                <div class="button-no-click text-no-select">
                    Say hi
                </div>
                <div class="row mt-5">
                    <div class="col-10">
                        <form action="https://formspree.io/xpzyqwdz" method="POST">
                            <div class="field half first">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" required />
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="email" name="_replyto" id="email" required />
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="6" required></textarea>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Send" class="special" /></li>
                            </ul>
                        </form>
                    </div>
                    <div id="contact-right" class="col-auto">
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <section id="myfooter">
            <div class="inner">
                <div class="row">
                    <div class="col">
                        <span>&copy; Cesar Mu</span>
                    </div>
                    <div class="col-auto">
                        <a href="https://www.linkedin.com/in/cesarmu/" target="_blank"><span class="fab fa-linkedin-in"></span></a>
                    </div>
                    <div class="col-auto">
                        <a href="https://github.com/cesarmoo" target="_blank"><span class="fab fa-github"></span></a>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <!-- end Sections -->

    {% include footer.html %}

</body>

</html>
