<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner text-no-select container">
            <div id="banner-div" class="row">
                <div class="col-12 col-lg-auto">
                    <img id="intro-pic">
                </div>
                <div class="col mt-4 mt-lg-0">
                    <header>
                        <span id="typing" class="banner-text"></span>
                        <br>
                        <span id="typing2" class="banner-text"></span>
                    </header>
                </div>
            </div>
            <div id="down-caret" class="row">
                <div class="col text-center">
                    <span class="fas fa-chevron-down"></span>
                </div>
            </div>
        </div>
    </section>


    <!-- end Sections -->

    {% include footer.html %}

</body>

</html>
