<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div id="main" class="project-page">
        <div id="projects" class="container my-5">
            <div class="row">
                <!-- Back button -->
                <div class="col-auto">
                    <div id="project-back">
                        <a href="/#projects">
                            <span class="fas fa-angle-left"></span>
                            Back
                        </a>
                    </div>
                </div>

                <!-- Maze Solver -->
                <div project="maze" class="col-12 mt-4 project-desc">
                    <div class="row">
                        <div class="col-12 project-desc-title">
                            Maze Solver
                        </div>
                        <div class="col-12 my-4">
                            This was my first encounter with real "algorithms", even though I had little idea of what they really were. Using Prim's algorithm, I generated perfect mazes, aka mazes that had exactly one solution. Then, I used depth-first search, breadth-first search, and A* to solve the mazes with real-time path highlighting to show how the algorithms "think". All the mazes could be loaded from and saved to .dat files. Plus, everything was packaged into a neat little GUI.
                            <br><br>
                            Check out the repo <a class="desc-links" href="https://github.com/roger778876/MazeSolver-Stuyhacks2017" target="_blank">here</a>!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>
